body{
  background-color:white;
  color: #0a0707;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:16px;
  font-weight: bold;
  line-height: 1.6em;
  margin:0px;
    .container{
            width:80%;
            margin:auto;
    }
    .box-1{
      background-color: #333;
      text-align: center;
      color:#1e45b0;
      border-right: blue; 
      border-left: green;
      border-bottom: red solid;
      border-top: red solid;
      border-style: double;
      padding:20px;
      margin-top:20px;
    }
    .box-1 h1{
      font-family: tahoma;
      font-wwight:800px;
      font-style: italic;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  .box-2{
    margin: 20px;
    border:10px dotted;
    padding: 20px;
    border-radius: 15px;
    border-color: green;
  }
  .box-2 h1{
    text-align:right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .box-2 p{
    color: red;
    font-family: cursive;
  }
}
.box-3{
  border:1px #ccc solid;
  padding:10px;
  border-radius: 15px;
}
.box-3 h2{
  text-align: center;
}
.box-3 ul{
  padding: 0px;
 list-style: square;
 list-style: none;
  
}
.box-3 li{
  padding-bottom: 6px;
  border-bottom:dotted 2.5px red;

  list-style-image: url(checkmark1.jpg);
}
.my form{
    padding-bottom: 20px;
}